In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
df =pd.read_csv(r'C:\Users\91630\Desktop\Crop-Recommendation-System-Using-Machine-Learning-main\Crop_recommendation.csv')
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [15]:
df.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [16]:
df.isna().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [17]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [18]:
df['label'].value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [19]:
df.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [20]:
X = df.drop(['label'],axis=1)
y = df['label']

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Training Models

In [22]:
model = []
accuracy = []
cvscore = []
from sklearn.metrics import classification_report,accuracy_score

In [23]:
from sklearn.linear_model import LogisticRegression
Lr = LogisticRegression(solver='lbfgs', max_iter=1000,random_state=42)
Lr.fit(X_train,y_train)
y_pred = Lr.predict(X_test)
model.append('Logistic regression')
x = accuracy_score(y_test,y_pred)
accuracy.append(x)
print('Accuracy Score is :',x)

Accuracy Score is : 0.9600550964187328

c:\Users\91630\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [24]:
from sklearn.naive_bayes import GaussianNB
GNB = GaussianNB()
GNB.fit(X_train,y_train)
y_pred = GNB.predict(X_test)
model.append('Gaussian Naive Bayes')
x = accuracy_score(y_test,y_pred)
accuracy.append(x)
print('Accuracy Score is :',x)

Accuracy Score is : 0.9944903581267218

In [25]:
from sklearn.svm import SVC
SVC =SVC(random_state=42)
SVC.fit(X_train,y_train)
y_pred = SVC.predict(X_test)
28
model.append('SVC')
x = accuracy_score(y_test,y_pred)
accuracy.append(x)
print('Accuracy Score is :',x)

Accuracy Score is : 0.9641873278236914

In [26]:
from sklearn.tree import DecisionTreeClassifier
DTC = DecisionTreeClassifier(criterion="entropy",max_depth=5,random_state=42)
DTC.fit(X_train,y_train)
y_pred = DTC.predict(X_test)
model.append('Decision Tree')
x = accuracy_score(y_test,y_pred)
accuracy.append(x)
print('Accuracy Score is :',x)

Accuracy Score is : 0.8939393939393939

In [27]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(n_estimators=20, random_state=42)
RF.fit(X_train,y_train)
y_pred = RF.predict(X_test)
model.append('Random Forest')
x = accuracy_score(y_test,y_pred)
accuracy.append(x)
print('Accuracy Score is :',x)

Accuracy Score is : 0.9889807162534435

In [28]:
from sklearn.ensemble import AdaBoostClassifier
ADB = AdaBoostClassifier(DTC,n_estimators=40,random_state=42)
ADB.fit(X_train,y_train)
y_pred = ADB.predict(X_test)
model.append('ADABOOST')
x = accuracy_score(y_test,y_pred)
accuracy.append(x)
print('Accuracy Score is :',x)

c:\Users\91630\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

Accuracy Score is : 0.9931129476584022

In [29]:
from sklearn.ensemble import GradientBoostingClassifier
GBC =GradientBoostingClassifier(random_state=42,n_estimators=40)
GBC.fit(X_train,y_train)
y_pred = GBC.predict(X_test)
model.append('Gradient Boosting')
x = accuracy_score(y_test,y_pred)
accuracy.append(x)
print('Accuracy Score is :',x)

Accuracy Score is : 0.9848484848484849

In [30]:
results_df = pd.DataFrame({"Accuracy Score": accuracy,
 "ML Models": model})

print(results_df)

   Accuracy Score             ML Models
0        0.960055   Logistic regression
1        0.994490  Gaussian Naive Bayes
2        0.964187                   SVC
3        0.893939         Decision Tree
4        0.988981         Random Forest
5        0.993113              ADABOOST
6        0.984848     Gradient Boosting

# Predictive System

In [31]:
data = np.array([[39,60,21,34.89814946,63.59948557,6.97297656,64.72797143]])
prediction = GNB.predict(data)
print(prediction)

['blackgram']

c:\Users\91630\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [32]:
data = np.array([[39,60,21,34.89814946,63.59948557,6.97297656,64.72797143]])
prediction = RF.predict(data)
print(prediction)

['blackgram']

c:\Users\91630\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [33]:
data = np.array([[9,29,34,29.38471637,45.88744691,5.72742254,100.8124659]])
prediction = GNB.predict(data)
print(prediction)
# In[28]:
data = np.array([[9,29,34,29.38471637,45.88744691,5.72742254,100.8124659]])
prediction = RF.predict(data)
print(prediction)

['mango']
['mango']

c:\Users\91630\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(
c:\Users\91630\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [34]:
import pickle
pickle.dump(GNB,open('croprecGNB.pkl','wb'))
pickle.dump(RF,open('croprecRF.pkl','wb'))
pickle.dump(ADB,open('croprecADB.pkl','wb'))